language:          cpp
jobs:
  include:
    - name:        "TEST UBUNTU 18.04"
      os:          linux
      dist:        bionic
      deploy:
        provider:  pages:git
        edge:      true
        local_dir: ../gh-pages/
        cleanup:   false
        token:     $travis
        on:
          branch:  master
    - name:        "TEST UBUNTU 16.04"
      os:          linux
      dist:        xenial
install:
  - export RACCOON_DIR=`pwd`
  - curl -L -O https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
  - bash Miniconda3-latest-Linux-x86_64.sh -b -p ~/miniconda3
  - export PATH=$HOME/miniconda3/bin:$PATH
  - conda config --add channels conda-forge
  - conda config --add channels https://mooseframework.org/conda/moose
  - conda create -y --name moose moose-libmesh moose-tools
  - conda init bash
  - conda activate moose
  - cd ..
  - git clone --single-branch --branch next https://github.com/hugary1995/moose.git
script:
  - cd raccoon
  - make -j 1
  - ./run_tests -j 2
  - mkdir gh-pages
  - cd doc
  - ./moosedocs.py build --destination ../gh-pages/
